.container{
    background-color: var(--white1ffffff);
    border-radius: 15px !important;
    height: 100%;
    align-items: center;
    border:1px solid #e5e5e5;
    position: relative;
}
/* .container span{
margin: 15px;
} */
.container a{
  width: 80%;
}
.icon_div{
    width: 100%;
    justify-content: flex-start !important;
    position: absolute;
  bottom: -10px;
    
}
.icon_div svg{
  cursor: pointer;
    margin: 10px;
}
.link{
    position: absolute;
    bottom: 0;
    text-align: center;
    justify-self: flex-end !important;
    /* background-color: var(--black33b4359); */
    /* border:1px solid var(--them) ; */
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    color: var(--them);
    list-style: none;
    text-decoration: none;
    margin-top: 10px;
    width: 100%; 
    transition: all 0.3s linear;
}
.link:hover{
background-color: var(--them);
color: var(--white1ffffff);
}


.title{
  font-family: vazirEn;
    align-self: flex-start !important;
    color: var(--black33b4359);
    /* text-shadow: 0 13.36px 8.896px #c4b59d, 0 -2px 1px #fff; */
}
.price{
    font-size: 1.2cqi;
    align-self: flex-end !important;
    color: var(--black33b4359);
    text-shadow: 0 13.36px 8.896px #c4b59d, 0 -2px 1px #fff;
    padding-bottom: 20px;
}
/* .img{
  width: 60%;
} */
.container img{
  padding-top: 50px;
    width: 100%;
    animation: zoom1 4s linear infinite;
    text-shadow: 0 13.36px 8.896px #c4b59d, 0 -2px 1px #fff;
cursor: pointer;
border-radius: 8px;


}
.container:hover img{
    /* transform: scale(.9); */
    animation: zoom 4s linear 1;

}
@keyframes zoom { 
    0%{
      transform: scale(0.5);
    }
    100% { 
      transform: scale(1);
    }
  }
  @keyframes zoom1 { 
    0%{
      transform: rotate(-0.3deg);
    }
    50%{
      transform: rotate(0deg);
    }
 
    100% { 
        transform: rotate(-0.3deg);
    }
  }
  
  
  /* body {
    background: #e8e9ba;
    display: grid;
    grid-gap: 40px;
    height: 100vh;
    margin: 0;
    grid-auto-flow: column;
    place-content: center;
  } */
  
  @media only screen and (max-width:900px){
.container{
  width: 70% !important;

}

  .title{
    font-size:15px !important ;
  }
  .price{
    font-size: 15px !important;
}
  }
  