.div_main{
    align-items: center;
}
.button{
    font-size: larger;
    width: 80% !important;
    height: 40px !important;
    margin-top: 50px;
    background-color: rgb(25,165,175);
    color: #fff;
}
.div_main h1{
    margin: 20px;
    color: var(--black33b4359);

}
.div_main div{
    color: var(--black33b4359);
}
.div_input{
    width: 70%;
    align-items: center;
}
.div_input_B{
    width: 100%;
    align-items: center;
}
.div_input_B div{
    position: relative;
    width: 100%;
    margin: none !important;
}

.div_hr{
    width: 80%;
    align-items: center;
}
.div_hr hr{
    color: var(--them);
    width:30% ;
}
 /* .eyeicon{
    position: absolute;
    right: 40%;
} */
.form{
    width: 100% !important;
    align-items: center;
}
.spinner_row{
    position: fixed;
    top: 40vh;
    right: 50vw;
    z-index: 100;
}
.img{
    display: none;
}

@media only screen and (max-width:900px){
    .img{
        display: block;
        width: 50%;
    }
    .div_hr{
        width: 100%;
    }
    .div_input{
        width: 90%;
    }
    .button{
        width: 100% !important;
    }
}