.row{
margin: 0 auto;
}
.col{
    width: 80%;
    height: 500px;
    border-radius: 8px;
    background-color: var(--white1ffffff);
    margin-left: 10%;
    margin: 0 auto;
}

.input{
    position: relative;
    margin: 20px;
    width: 80%;
}

 /* input[type=number] {
    -moz-appearance: textfield;
  } */

  .input  input[type=number]::-webkit-inner-spin-button,
  .input input[type=number]::-webkit-outer-spin-button {
    pointer-events:none;
  /* background-color: #14a5af !important; */
  opacity: 0;
}
.input input {
    padding-left: 40px; /* Adjust input padding to make space for the icon */
  }
.icon {
    position: absolute;
    left: 10px; /* Position the icon inside the input */
    top: 60%;
    transform: translateY(-50%); /* Center the icon vertically */
    pointer-events: none; /* Ensure the icon does not interfere with input interactions */
  }
.col_button{
    text-align: center;
}
.button{
    margin-top: 45px;
    width: 60% !important;
    font-size: 1.5cqi;
    color: #fff;
}
.error{
    border: 1px solid red !important
}

.profile_img_div{
  background-image: url();
}

.input_img{
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.icon_img{
  position: absolute;
  right: 100px;
}
.profile_img_input{
  padding: 0px !important;
opacity: 0; 
 cursor: pointer;
  width: 100% !important;
  height: 100% ;
}
.profile_img_input::placeholder{
  color:gray !important;

}
.profile_img_image{
  width: 80px ;
  border-radius: 15px;
}

@media only screen and (max-width:900px){
.col{
  height: 100%;
}
.button{
  font-size: 20px;
}
}