.bcatitem{
    margin-top: 80px;
}
.category_row{
    width: 100%;
}
.category__cart_div{
    align-items: center;
}
.category__cart_div span{
    margin: 20px;
    font-weight: 600;
    font-size: 0.9cqi;
    color: var(--black33b4359);
}
.mySwiperD{
    margin-top: 30px;
    height: 40vh;
}
.img{
    width: 90%;
    background-size: cover;
    height: 95%;
}
.category_mySwiperD__hide{
    display: none;
}
.products_card {

    width: 85%;
    margin: 80px auto !important;
}
.products_col{
    min-width: 35rem !important;
    height: 40rem;
    margin-bottom: 50px;
    align-items: center !important;
    flex-wrap: nowrap;
   
}
.breadcrumb{
    width: fit-content !important;
    margin-right: 100px !important;
    border-bottom: 1px solid var(--black33b4359);
}
.breadcrumb_row{
width: fit-content;
}
.breadcrumb a{
    color: inherit;
    margin-left: 10px;
}
.breadcrumb a:hover{
    opacity: 0.7;
}