.row{
    margin: 0 auto;
    }
    .col{
        width: 80%;
        min-height: 500px;
        border-radius: 8px;
        background-color: var(--white1ffffff);
        margin-left: 10%;
    }
    .order_allorder {
      text-align: center;
        width: fit-content;
        margin: 0 auto;
    }
    .order_allorder td{
        font-size: 25px;
    }
    .order_allorder th{
        margin-left: 35px !important;
    }
    .image{
        width: 100px;
    }
    .basket_table {
        margin: 0 auto;
        width: fit-content;
        text-align: center;
        font-size: 15px;
    }