.div_main{
    align-items: center;
}
.button{
    font-size: larger;
    width: 80% !important;
    height: 40px !important;
    margin-top: 50px;
    background-color: rgb(25,165,175);
    color: #fff;
}
.div_main h1{
    margin: 20px;
    color: var(--black33b4359);

}
.div_main div{
    color: var(--black33b4359);
}
.div_input{
    width: 70%;
    align-items: center;
}
.div_input_B{
    width: 100%;
    align-items: center;
}
.div_input_B div{
    position: relative;
    width: 100%;
    margin: none !important;
}

.help_Button{
    position: absolute;
    left:20px;
}
.div_hr{
    width: 80%;
    align-items: center;
}
.div_hr hr{
    color: var(--them);
    width:30% ;
}
 /* .eyeicon{
    position: absolute;
    right: 40%;
} */
.form{
    width: 100% !important;
    align-items: center;
}

.img{
    display: none;
}

.card_div{
    border: none;
    direction: ltr;
}
.h3{
    color: rgb(10, 104, 245);
    margin-top: 10px;
    cursor: pointer;
}
.div_inputC{
    width: 100%;
    margin-top: 2px;
}

.div_inputC div{
    width: 100%
}

.div_inputC div input{
    width: 100%;
    outline: none;

}
.buttonB{
    width: 100%;
    color: #fff;
    font-size: 18px;
}
.buttonB2{
    opacity: 0.5;
    pointer-events: none;
    width: 100%;
    color: #fff;
    font-size: 18px;
}
.show{
    display: inline;
}
.hide{
    display: none !important;
}
@media only screen and (max-width:900px){
    .img{
        display: block;
        width: 50%;
    }
    .div_hr{
        width: 100%;
    }
    .div_input{
        width: 90%;
    }
    .button{
        width: 100% !important;
    }
}