.swiperCC{
    margin-top: 25px;
    border-radius: 0px;
    width: 80% !important;
    height: 100% !important;

}

.swiperCC >.swiper_wrapper{
    width: 100% !important;;
    height: 100% !important;;

}

.swiperCC >.swiper_wrapper >.swiper_slide{
 
    width: 24rem !important;
    height: 45rem !important;;
    border-radius: 10px ;
}


.swiperCC >.swiper_slide{
    --c: #8A9B0F; /* the border color */
    --b: 3px;    /* the border thickness*/
    --g: 5px;     /* the gap on hover */
    
    padding: calc(var(--g) + var(--b));
    --_g: #0000 25%,var(--them) 0;
    background-color: transparent !important;
    background: 
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
       var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
      conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
       0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
    transition: .3s, background-position .3s .3s;
    /* cursor: pointer; */
  }
  .swiperCC >.swiper_slide:hover {
    --_i: 100% !important;;
    transition: .3s, background-size .3s .3s !important;;
  }
  


.swiperC_div{
    margin-top: 80px;

}
.swiperC_title{
    text-shadow: 0 13.36px 8.896px #c4b59d, 0 -2px 1px #fff;
    font-size: 1.5cqi;
}
@media only screen and (max-width:900px){
    .swiperC_title{
        font-size: 15px !important;
    }
  
}
