.social i:before {
    width: 14px;
    height: 14px;
    font-size: 14px;
    position: fixed;
    color: #fff;
    /* background: #0077B5; */
    background:#14a5af;
    padding: 10px;
    border-radius: 50%;
    top: 5px;
    left: 5px; /* Changed from right to left */
  }
  