.hardwarList_img{
    width: 80px !important;
}
/* .hardwarList_tr{
    cursor: pointer;
} */
 .searchli{
    position: relative;
 }

 .searchli > button{
    position: absolute;
    left: -10px;
 }

 .share{
    /* position: absolute;
  left:20px;
  top: 30px; */
  cursor: pointer;
  z-index: 1000;
  padding: 2px;
}