.bcatitem{
    margin-top: 80px;
}
.category_row{
    padding-top: 22px;
    width: 100%;
}
.category_col{
    /* background-color: #fff; */
    background-color: var(--white1ffffff);
}
.category__cart_div{
    align-items: center;
}
.category__cart_div span{
    margin: 20px;
    font-weight: 600;
    font-size: 0.9cqi;
    color: var(--black33b4359);
}
.mySwiperD{
    margin-top: 30px;
    height: 40vh;
}
.img{
    width: 90%;
    background-size: cover;
    height: 95%;
}
.category_mySwiperD__hide{
    display: none;
}
.products_card {

    width: 85%;
    margin: 80px auto !important;
}
.products_col{
    min-width: 35rem !important;
    height: 40rem;
    margin-bottom: 50px;
    align-items: center !important;
    flex-wrap: nowrap;
   
}
.breadcrumb{
    width: fit-content !important;
    margin-right: 100px !important;
    border-bottom: 1px solid var(--black33b4359);
}
.breadcrumb_row{
width: fit-content;
}
.breadcrumb a{
    color: inherit;
    margin-left: 10px;
}
.breadcrumb a:hover{
    opacity: 0.7;
}
.spinner_row{
    position: fixed;
    top: 40vh;
    right: 50vw;
    z-index: 100;
}

.right_maindiv{
    height: fit-content;
    background-color: var(--white1ffffff);
    border-radius: 8px;
    line-height: 2.3;
    /* margin-top: 20px; */

}
.right_maindiv h1{
color: var(--black33b4359);
}
.right_div a{
     text-decoration: none !important;
    list-style: none !important;
    cursor: pointer;
border-bottom: 1px solid var(--graydcdee1);
border-radius: 5px;
color: var(--black33b4359);
}
.right_div span{
    margin-right: 10px;
font-size: 20px;

transition: all 0.2s ease-in-out;

}
.right_div a:hover{
    /* background-color: var(--them); */
    background-color: #cfe2ff;
    color: var(--white1ffffff);
}

.AccordionCom button{
    font-size: 22px !important;
    /* background-color:var(--them) !important */
}


@media only screen and (max-width:900px){
    .right_maindiv{
        display: none;
    }
    .breadcrumb_row{
        display: none;
    }
    .pagination_div{
        margin-bottom: 80px;
    }
    .category__cart_div span{
      
        font-size:12px;
    }
}