.main_div{
    width: 350px;
    height: 290px !important;
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}
.main_div img{
    width: 100%;
}
.main_div h2{
font-weight: 600;
}
.main_div h3{
    color: var(--gray3);
}