.row{
    margin: 0 auto;
    }
    .col{
        width: 80%;
        min-height: 500px;
        border-radius: 8px;
        background-color: var(--white1ffffff);
        margin-left: 10%;
    }
    .button_code{
        font-size: 1.5cqi;
        justify-content: space-around;
    }

    .input{
        position: relative;
        margin: 20px;
        width: 80%;
    }
    
     /* input[type=number] {
        -moz-appearance: textfield;
      } */
    
      .input    input[type=number]::-webkit-inner-spin-button,
      .input input[type=number]::-webkit-outer-spin-button {
        pointer-events:none;
      /* background-color: #14a5af !important; */
      opacity: 0;
    }
    .input  input {
        padding-left: 40px; /* Adjust input padding to make space for the icon */
      }

  
     
    .icon {
        position: absolute;
        left: 10px; /* Position the icon inside the input */
        top: 60%;
        transform: translateY(-50%); /* Center the icon vertically */
        pointer-events: none; /* Ensure the icon does not interfere with input interactions */
      }


      .textarea_div{
    
        justify-content: space-between;
        align-items: center;
        position: relative;

      }
      .textarea_div label{
        position: absolute;
        top: -10px;
        right: 10px;
      }
      .textarea_div button{
        font-size: 0.8cqi;
        font-weight: bold;
      }
      .textarea_div textarea{
        width: 100%;
      }
      .textarea_div label{
color: #3951b2;
      }

      .warrantyCod_col_right{
        justify-content: flex-start ;
      }

      .button_codeB{
        display: none;
      }
      .btn_hide{
        display: none;
      }
      .AccordionTab_card{
        display: none !important;
      }

      .date_div{
        border: 1px solid rgb(168 168 168 / 55%);
           width: 100%;
           border-radius: 10px;
           background-color: rgb(239 239 239 / 55%)
     }
  
      @media only screen and (max-width:900px){
        .AccordionTab_card{
          display: inline !important;
        }
        .warrantyCod_col_right{
display: none;        }

.button_code{
  /* display: none; */
}
.button_code span{
  font-size: 12px ;
}
.button_code div{
  font-size: 12px;
}
.button_codeB{
  display: inline;
}
.AccordionTab{
  font-size: 25px;

}
.AccordionTab a{
  color: #495057;
}
.detail_div{
  margin-bottom: 50px;
}
      }