.right_div{
    direction: ltr;
    padding: 20px;
    align-items: center;
}
.container{
    margin-top: 40px !important;
    /* background-color: var(--white1ffffff2); */
    background-color: gold;

    border-radius: 35px;

}
.swipercomb_div{
    /* position: relative; */
    background-color: gold;
    /* margin: 80px auto; */
    /* width: 90%; */
    border-radius: 35px;
    /* border: 1px solid #ffffff; */
    /* border: 1px solid #ffffff; */
    /* box-shadow: 0 0 15px -10px; */
  
  }
  .swipercomb_title{
    position: absolute;
    border-radius: 22px;
    top: -20px;
    margin-right: 50px;
    background-color: #fff;
    /* text-shadow: 0 13.36px 8.896px #c4b59d, 0 -2px 1px #fff; */
    font-size: 1.5cqi;
  }

  .right_div span{
    position: relative;
  }
  .right_div img{
  
    width: 300px;
  }
  .right_div p{
    font-size: 22px;
    font-weight: 600;
    color: rgb(230, 22, 22);
  }

  .swiperCustom :hover{
    
  }

  /* .swiperCustom>.swiper-wrapper >.swiper-slide {
    --c: #8A9B0F;
    --b: 3px;
    --g: 5px;
    padding: calc(var(--g) + var(--b));
    --_g: #0000 25%, #af1442 0 !important;
    background-color: transparent !important;
    background: conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) var(--_i, 200%) 0 / 200% var(--_i, var(--b)) no-repeat, conic-gradient(at bottom var(--b) left var(--b), var(--_g)) 0 var(--_i, 200%) / var(--_i, var(--b)) 200% no-repeat;
    transition: .3s, background-position .3s .3s;
} */

  /* .mySwiperB  */