.swiper {
  width: 100%;
  height: 100%;
  border-radius: 25px;

}
.mySwiper{
  box-shadow: 0 0 25px -9px rgb(0, 0, 0, 0.75);

}

.swiper_slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper_slide img {
  display: block;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
 
