.col_4{
    align-items: center;
}
.col_4 button{
    margin: 50px;
}
.btn{
    width: 100% !important;
    height: 40px;
    transition: all 0.3s linear;
    font-size: 20px;
    color: #fff;
}
.btn_hide{
    width: 80% !important;
    height: 35px;
    transition: all 0.3s linear;
    border: none;
    opacity: 0.8;
    pointer-events: none;

}
.spinner_row{
    position: fixed;
    top: 40vh;
    right: 50vw;
    z-index: 100;
}
.spinner_row > div{
    background-color: inherit;

}