.table{
    margin-top: 50px;
    /* border: 1px dotted; */
}
/* .detail{
    margin-top: 50px;

} */
.detail li{
    list-style: inside !important;
}

.li_click{
    color: blue;
    cursor: pointer;
    position: relative;
}
.handIcon{
    position: absolute;
    
}
.li_click svg{
    rotate: 90deg
}
.td_number input{
    border: none;
    outline: none;
    text-align: center;
    width: 80px;
}

.total_div{
    width: 100%;

    align-items: center;
}
.total_div input{
    outline: none;
border:1px dotted #14a5af;
border-radius: 3px;
margin: 10px;}

.total_div button{
    width: 100px;
    margin: 5px;
}


.card{
    text-align: center;
    margin: 0 auto;
    width: 30%;
    min-height: 80px;
cursor: pointer;
color: #fff;
border-radius: 8px;
margin-top: 5px;
}
.card :hover{
opacity: 0.6;
}


@media only screen and (max-width:500px){
.table{
    font-size: 12px;
}
.th_number{
    width: 30px !important;
}

.td_number{
    width: 50px !important;
}
.td_number input{
  
    width: 30px !important;
}
.modal_div img{
width: 80%;
}
}