.div{
    background-image: url('./61E8GAFVRLL.jpg');
    height: 320px;
    width: 198px;
}
.div2{
    background-image: url('./photo_2024-11-22_22-34-322.jpg');
    height: 320px;
    width: 198px;
}
.div3{
    background-image: url('./photo_2024-11-22_22-34-39.jpg');
    height: 320px;
    width: 198px;
}
.div4{
    background-image: url('./photo_2024-11-22_22-34-45.jpg');
    height: 320px;
    width: 198px;
}
.div5{
    background-image: url('./photo_2024-11-22_22-34-322.jpg');
    height: 320px;
    width: 198px;
}