.container{
    width: 100%;
    min-height: 380px;
    border-radius: 35px;
    margin-top: 25px;
    align-items: center;
    overflow-wrap: auto;
    position: relative;

}
.row{
    width: 100%;
text-align: center;    

}

/* .container >h2{
    position: absolute;
    top: -15px;
    right: 45px;
    font-size: 20px;
} */