.container{
    width: 100%;
    min-height: 380px;
    border-radius: 35px;
    margin-top: 20px;
    align-items: center;
    overflow-wrap: auto;

}
.row{
    width: 100%;
text-align: center;    

}