.textarea{
    width: 100%;
    min-height: 100px;
    border: 1px solid rgba(168, 168, 168, 0.550000011920929); 
    outline: none;
}
.create_ticket{
    display: none;
}
.createbutton{
    width: 100%;
    color:var(--white1ffffff);
    font-size: 15px;
}
/* .login_label_float input::placeholder{
    color:yellow !important;
  } */
  .input input::placeholder{
    color:var(--gray3) !important;

  }
  .textarea::placeholder{
    color:var(--gray3) !important;

  }
  .table{
    width: fit-content;
    margin: 0 auto;
    text-align: center;
  }